/*css defoult rule*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utilities*/
#container{
    width: 50%;
    margin: 0 auto;
    font-family: sans-serif;

}

.raw{
    margin-bottom: 30px;
}

.second-raw{
    margin-bottom: 90px;
}
.product{
    display: inline-block;
    width: calc(99% / 3);
    height: 450px;
    margin-top: 50px;
    padding: 10px 15px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.sale-tag{
    background-color: crimson;
    padding: 5px 10px;
    color: white;
    font-size: 10px;
    position: absolute;
    bottom: 15px;
    left: 0;
}

.green{
    background-color: rgb(5, 168, 5);
    padding: 5px 10px;
    color: white;
    font-size: 10px;
    position: absolute;
    bottom: 15px;
    left: 45px;
}

.entities{
    background-color: white;
    padding: 10px 15px;
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 15px;
}


/*product*/
.outfit-top-left{
    background-image: url(../img/1.webp);
}

.outfit-top-center{
    background-image: url(../img/2.webp);
}

.outfit-top-right{
    background-image: url(../img/3.webp);
}

.outfit-bottom-left{
    background-image: url(../img/4.webp);
}

.outfit-bottom-center{
    background-image: url(../img/5.webp);
}

.outfit-bottom-right{
    background-image: url(../img/6.webp);
}

/*product info*/
.text{
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
}

.brend{
    color: rgb(131, 131, 131);
    font-size: 9px;

}

.dress-name{
    font-size: 12px;
    font-weight: bold;

}

.prices{
    font-size: 10px;
    color: red;
}

s{
    color: black;
}

/*hover*/

 .heart:hover{
     color: red;
     
 }

.outfit-top-left:hover{
     background-image: url(../img/1b.webp);
 }

.outfit-top-center:hover{
    background-image: url(../img/2b.webp)
}
.outfit-top-right:hover{
    background-image: url(../img/3b.webp)
}

.outfit-bottom-left:hover{
    background-image: url(../img/4b.webp)

}

.outfit-bottom-center:hover{
    background-image: url(../img/5b.webp)
}

.outfit-bottom-right:hover{
    background-image: url(../img/6b.webp)
}