/*css defoult rule*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utilities*/
#container{
    width: 50%;
    margin: 0 auto;

}

.product{
    display: inline-block;
    width: calc(99% / 3);
    height: 450px;
    margin-top: 50px;
    padding: 10px 15px;
    background-size: contain;
    background-repeat: no-repeat;
}


/*product*/
.outfit-top-left{
    background-image: url(../img/1.webp);
}

.outfit-top-center{
    background-image: url(../img/2.webp);
}

.outfit-top-right{
    background-image: url(../img/3.webp);
}
